*[class^="col-"] {
    background-color: 
    #feed77
    rgba(254,237,119);
}

body {
    background-image: url("images/abc-g92909ae22_1920.jpg");
}

#buttons {
    padding-bottom: 150px;
    
}

#title {
    
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e2788a;
    margin-bottom: 50px;
    height: 100px;
    text-align: center;
}

.col-md-5 {
    border: 2px solid black;
    border-radius: 10px;
    min-height: 200px;
    background-color: #e2788a;
}

h1 {
    padding-top: 20px;
}

p {
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
}

#buttons {
    padding-top: 150px;
}

.btn {
    background-color: black;
    color: white;
}

img {
    max-height: 100px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    height: 200px;
    color: white;
}

